<div class="ingame-left-menu">
	<button (click)="travel('character')"><i class="ra ra-player"></i> Postava</button>
	<button (click)="travel('map')"><i class="ra ra-scroll-unfurled"></i> Mapa</button>
	<button (click)="travel('quests')"><i class="ra ra-burning-book"></i> Úlohy</button>
	<button (click)="travel('contacts')"><i class="ra ra-double-team"></i> Kontakty</button>
	<button (click)="travel('items')"><i class="ra ra-cubes"></i> Predmety</button>
	<h2>Obchodná štvrť</h2>
	<button (click)="travel('post')"><i class="ra ra-leaf"></i> Pošta</button>
	<button (click)="travel('gym')"><i class="ra ra-muscle-up"></i> Telocvičňa</button>
	<button (click)="travel('shooting-gallery')"><i class="ra ra-crossed-pistols"></i> Strelnica</button>
	<button (click)="travel('apothecary')"><i class="ra ra-flask"></i> Apatieka</button>
	<button (click)="travel('alchemist')"><i class="ra ra-vial"></i> Alchymista</button>
	<button (click)="travel('smith')"><i class="ra ra-anvil"></i> Kováč</button>
	<button (click)="travel('weapon-shop')"><i class="ra ra-crossbow"></i> Obchod so zbraňami</button>
	<button (click)="travel('food-market')"><i class="ra ra-knife-fork"></i> Obchod s potravinami</button>
	<button (click)="travel('library')"><i class="ra ra-book"></i> Knižnica</button>
	<h2>Chudobná štvrť</h2>
	<button (click)="travel('home')"><i class="ra ra-tower"></i> Dom</button>
	<button (click)="travel('crematory')"><i class="ra ra-burning-eye"></i> Spalovňa</button>
	<button (click)="travel('sewer')"><i class="ra ra-droplet"></i> Stoky</button>
	<button (click)="travel('orphanage')"><i class="ra ra-player"></i> Sirotinec</button>
	<button (click)="travel('cemetery')"><i class="ra ra-frostfire"></i> Cintorín</button>
	<button (click)="travel('pub')"><i class="ra ra-beer"></i> Krčma</button>
	<button (click)="travel('shrine')"><i class="ra ra-circle-of-circles"></i> Svätyňa</button>
	<button (click)="travel('thames')"><i class="ra ra-water-drop"></i> Temža</button>
	<button (click)="travel('bridge')"><i class="ra ra-bridge"></i> Most</button>
	<h2>Priemyselná štvrť</h2>
	<button (click)="travel('warehouses')"><i class="ra ra-guarded-tower"></i> Sklady</button>
	<button (click)="travel('stables')"><i class="ra ra-horseshoe"></i> Stajne</button>
	<button (click)="travel('market')"><i class="ra ra-gold-bar"></i> Trhovisko</button>
	<button (click)="travel('train-station')"><i class="ra ra-cog-wheel"></i> Železničná stanica</button>
	<button (click)="travel('dock')"><i class="ra ra-anchor"></i> Prístav</button>
	<button (click)="travel('hangar')"><i class="ra ra-dragon-wing"></i> Hangár vzducholodí</button>
	<br>
	<button (click)="travel('end')"><i class="ra ra-cancel"></i> Koniec</button>
</div>
