<div class="right-ingame-panel">
	<p class="tal">{{ name$ | async }} nachádzaš sa: {{ position$ | async }}</p>
	<h1>Trhovisko</h1>

	<img src="assets/dom.png" width="400px">

	<p class="bg">
	Hra za čias <span class="blink">viktoriánskeho anglicka</span>, ale so <span class="times">slovanskou mytológiou.</span>
		<a href="https://www.youtube.com/watch?v=MJeNG1R7FzM&t=1198s&ab_channel=AmbienceofYesteryear" target="_blank">Inšpiratívne zvuky</a>
	</p>

	<p (click)="buyItem(1)">
		<em class="blink">AKCIA!!! Zľava 25% na podkovy</em>
		<img src="assets/horse.webp" width="100px" style="vertical-align: middle">
	</p>

	<p>
		<img src="assets/typingwoman.webp" width="100px" style="vertical-align: middle">
		<strong>AKCIA!!! Zľava <span class="blink">5%</span> zníženie daní na sirotu</strong>
	</p>

	<p>
	<i class="ra ra-sapphire"></i><i class="ra ra-sapphire"></i><i class="ra ra-sapphire"></i><strong>Súťaž!!! vyhraj <span class="blink">300</span> zafírov</strong><i class="ra ra-sapphire"></i><i class="ra ra-sapphire"></i><i class="ra ra-sapphire"></i>
	</p>

	<table cellpadding="1" cellspacing="1">
	<tr>
		<th>Meno</th>
		<th>Adresa</th>
		<th>Číslo</th>
		<th>ID</th>
	</tr>
	<tr>
		<td><i class="ra ra-aura"></i> Maxine Woodward</td>
		<td>1609</td>
		<td>653</td>
		<td>A5430F93-6DD6-5D12-4997-832803FF8C24</td>
	</tr>
	<tr>
		<td><i class="ra ra-aware"></i> Ciara B. Finley</td>
		<td>P9V 4L5</td>
		<td>356</td>
		<td>A4450BD0-E6AC-0BA4-0678-4EED603CA07E</td>
	</tr>
	<tr>
		<td><i class="ra ra-double-team"></i> Latifah S. Hopkins</td>
		<td>6425</td>
		<td>292</td>
		<td>A4D992EC-8E40-2222-8F90-465588729D22</td>
	</tr>
	<tr>
		<td><img src="assets/salem.gif" width="50px">Vera Lynn</td>
		<td>41609</td>
		<td>546</td>
		<td>B0EC0459-C76B-63B5-90E8-11298F16705C</td>
	</tr>
	<tr>
		<td><img src="assets/wuman.webp" width="50px"> Illana Grimes</td>
		<td>88078</td>
		<td>302</td>
		<td>5AE7145B-92EA-BA38-A11F-1A14F3B07CCD</td>
	</tr>
	<tr>
		<td>Hedda Carney</td>
		<td>147213</td>
		<td>791</td>
		<td>AEAB8D08-58B1-D0E0-E099-5083F97A55AD</td>
	</tr>
	<tr>
		<td>Yuli F. Hubbard</td>
		<td>05986</td>
		<td>389</td>
		<td>56AEB6AB-6521-8514-C943-E9A0C0C04B75</td>
	</tr>
	<tr>
		<td>Quamar J. Bishop</td>
		<td>34814</td>
		<td>486</td>
		<td>EC234423-865D-59AA-48A3-2E2E0C984A6D</td>
	</tr>
	<tr>
		<td>Griffith E. Collier</td>
		<td>20238-832</td>
		<td>855</td>
		<td>6FFC5B1F-16CE-CDCA-0CCB-802A4E7AAC35</td>
	</tr>
	<tr>
		<td>Alfreda J. Benton</td>
		<td>69262-786</td>
		<td>948</td>
		<td>5F2036CB-A0D9-5240-A36F-8BEFA1C3213E</td>
	</tr>
	<tr>
		<td>Iris Hawkins</td>
		<td>6060</td>
		<td>707</td>
		<td>F0A2BF71-4D63-4894-CECD-600BCBD4A86F</td>
	</tr>
	<tr>
		<td>Teegan Knowles</td>
		<td>21909</td>
		<td>585</td>
		<td>F4E25E90-C00A-5E61-A2FC-7B66D5119651</td>
	</tr>
	<tr>
		<td>Gabriel Frye</td>
		<td>3081</td>
		<td>186</td>
		<td>76377F34-9E67-B87F-3F68-2E067B99B7EF</td>
	</tr>
	<tr>
		<td>Rae X. Drake</td>
		<td>7503</td>
		<td>913</td>
		<td>B9745A4B-F3A1-F4C9-6444-784252EE7CAF</td>
	</tr>
	<tr>
		<td>Asher N. Price</td>
		<td>326670</td>
		<td>373</td>
		<td>01A79535-13BB-65D0-89AB-B7932ED284B0</td>
	</tr>
	<tr>
		<td>Axel S. Bender</td>
		<td>4832</td>
		<td>680</td>
		<td>52C9600C-676C-43AA-8711-E1E08F07D7A4</td>
	</tr>
	<tr>
		<td>Dieter K. Atkins</td>
		<td>24877</td>
		<td>595</td>
		<td>B91C6BA7-734E-76BE-F099-4A983E9603F7</td>
	</tr>
	<tr>
		<td>Noah X. Griffin</td>
		<td>79303</td>
		<td>975</td>
		<td>8BD68A3E-1B0C-A195-44F1-B017C8CF62B5</td>
	</tr>
	<tr>
		<td>Gail Graham</td>
		<td>47506</td>
		<td>206</td>
		<td>4716A62F-0118-960E-31CF-37EE572CE1C5</td>
	</tr>
	<tr>
		<td>Allistair N. Hopper</td>
		<td>20417</td>
		<td>846</td>
		<td>53F8CC9E-8154-E0B1-209B-A30EF96FE911</td>
	</tr>
	</table>

	<img src="assets/200w.webp">

	<div class="flex">
		<div class="color c1">1</div>
		<div class="color c2">2</div>
		<div class="color c3">3</div>
		<div class="color c4">4</div>
		<div class="color c5">5</div>
	</div>

	<p class="bg">
		Vybuduj si svoje impérium!
	</p>

	<p>Lorem <em class="blink">ipsum dolor sit amet,</em> consectetur adipiscing elit, <strong>sed do</strong> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor <em>in reprehenderit in voluptate velit</em> esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<pre>
                    /
               ,.. /
             ,'   ';
  ,,.__    _,' /';  .
 :','  ~~~~    '. '~
:' (   )         )::,
'. '. .=----=..-~  .;'
 '  ;'  ::   ':.  '"
   (:   ':    ;)
    \\   '"  ./
     '"      '"
	</pre>

	<p class="bg">
		Vyšetrovanie vraždy. Boj s nepriateľmi. Zbieranie predmetov. Hutná atmosféra.
	</p>

	<pre>(-(-_(-_-)_-)-)</pre>

	<pre>╭∩╮(Ο_Ο)╭∩╮</pre>

	<img src="assets/bg.jpg">

	<p class="bg">
		Plnenie úloh, návšteva obchodníkov.
	</p>	

	<img src="assets/mec.png" width="250px">

	<p class="bg">
		Zbieranie predmetov.
	</p>	


	<p>
		Browserová hra (PC/Tablet), Angular (rxjs, ngrx) Spočiatku iba frontend, neskôr backend (PHP, mysql/sqlite).
	</p>


	<p class="bg">
		Predvytvorené postavy a ich vylepšovanie.
	</p>
</div>
